Repository AlexWayfer/flame-pagination: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[72e6d906f821cd7e2fe8a4252b4350697c282babb00a5e492bc8920829242b9c5033d412eda442a9c0fe461e1173cea2]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Add links for Cirrus and Depfu badges, fix link to LICENSE
  README.md
Due: remark

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Fix an issue with duplicate keys in Cirrus CI config
  .cirrus.yaml
Due: none

Tune some RuboCop cops for my taste
  .rubocop.yml
Due: rubocop

Replace `Bundler.setup` with `include :bundler` in `.toys`
  .toys.rb
  flame-pagination.gemspec
Due: rubocop, rspec

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yaml
  .toys.rb
Due: rubocop

Remove patch-version lock for stable `rubocop`
  flame-pagination.gemspec
Due: rubocop, rspec

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  flame-pagination.gemspec
Due: rubocop, rspec

Update `remark` to new major version
  .remarkrc.yaml
  package.json
Due: remark

Resolve RuboCop offense, lock its version better
  flame-pagination.gemspec
  lib/flame/pagination/for_controller.rb
Due: rubocop, rspec

Add `inherit_mode` for RuboCop config
  .rubocop.yml
Due: rubocop

Add Ruby 3.0 for CI
  .cirrus.yaml
  flame-pagination.gemspec
Due: rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  flame-pagination.gemspec
Due: remark, rubocop, rspec

Enable `rubygems_mfa_required`
  flame-pagination.gemspec
Due: rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  flame-pagination.gemspec
Due: rubocop, rspec

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: none

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Add newlines to Cirrus CI config file
  .cirrus.yaml
Due: none

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  flame-pagination.gemspec
  spec/spec_helper.rb
Due: rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: none

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: none

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  flame-pagination.gemspec
Due: rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  flame-pagination.gemspec
Due: rubocop, rspec

Update Toys dependencies
  Gemfile
Due: rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  flame-pagination.gemspec
Due: rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Add Ruby 3.3 and 3.4 for CI
  .cirrus.yaml
Due: none

Remove Depfu badge from README
  README.md
Due: remark

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  flame-pagination.gemspec
Due: rubocop, rspec
