Repository AlexWayfer/flame-pagination: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[72e6d906f821cd7e2fe8a4252b4350697c282babb00a5e492bc8920829242b9c5033d412eda442a9c0fe461e1173cea2]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  flame-pagination.gemspec
Due: rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  flame-pagination.gemspec
Due: rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, rspec

Update runtime dependencies
  flame-pagination.gemspec
Due: rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  flame-pagination.gemspec
Due: rubocop, rspec

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: none

Improve updating system gems in CI
  .cirrus.yaml
Due: none

Lock at the new stable release Flame v5
  flame-pagination.gemspec
Due: rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/flame/pagination/version.rb
Due: remark, rubocop, rspec
